@page "/orderform/{id:int}"
@inject ProductService productService
@inject OrderService orderService
@inject NavigationManager nav
@using ECommerceBlazorApp.Models
@using ECommerceBlazorApp.Services
<div class="container mt-4">
    <div class="card p-4 shadow">

        <h3 class="mb-3">
            <i class="bi bi-receipt me-2"></i> Order Form
        </h3>

        <p>
            <i class="bi bi-box-seam me-1 text-primary"></i>
            <b>Product:</b> @product.Name
        </p>

        <p>
            <i class="bi bi-cash-coin me-1 text-success"></i>
            <b>Price:</b> Rs. @product.Price
        </p>

        <div class="mb-2">
            <i class="bi bi-person me-1"></i>
            <input class="form-control" placeholder="Your Name" @bind="order.CustomerName" />
        </div>

        <div class="mb-2">
            <i class="bi bi-geo-alt me-1"></i>
            <input class="form-control" placeholder="Address" @bind="order.Address" />
        </div>

        <div class="mb-2">
            <i class="bi bi-telephone me-1"></i>
            <input class="form-control" placeholder="Contact Number" @bind="order.ContactNumber" />
        </div>

        <div class="mb-3">
            <i class="bi bi-sort-numeric-down me-1"></i>
            <input type="number" class="form-control" placeholder="Quantity" @bind="order.Quantity" />
        </div>

        <button class="btn btn-success w-100" @onclick="PlaceOrder">
            <i class="bi bi-check-circle me-1"></i> Place Order
        </button>

    </div>
</div>

@code {
    [Parameter] public int id { get; set; }

    Product product;
    Order order = new Order();


    protected override void OnParametersSet()
    {
        product = productService.GetProductById(id);

        if (product != null)
        {
            order.SelectedProduct = product;
        }
    }
    void PlaceOrder()
    {
        orderService.PlaceOrder(order);
        nav.NavigateTo("/orderconfirmed");
    }
}